{:dependencies
 [[binaryage/oops "0.5.6"]
  [quil "2.6.0"]]

 :source-paths
 ["src"]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [pres.app]}}}}}
